    </head>
<html>
    <head>
        <title>My blog</title>
    <body>
        <div>
            <h1><a href="">My Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">India</a></h2>
            <p>India is the world’s largest democratic and secular country. India got independence from British rule on August 15, 1947.The population of India is second largest in the world, next only to China. It land size is seventh largest in the world.India is 3rd largest economy in terms of PPP and 10th largest in terms of nominal GDP.India is one of the major economies of South-east Asia. India has 29 states and 7 union territories.India has rich cultural heritage of more than 3000 years.The National Anthem of India is “Jana Gana Mana” and the National song is “Vande Mataram”.The mojor festivals in India are Holi, Diwali, Durga Puja, Saraswati Puja, Mahavir Jayanti, Eid, Muharram, Christmas,</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Python History</a></h2>
            <p>Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991. An interpreted language, Python has a design philosophy that emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly brackets or keywords), and a syntax that allows programmers to express concepts in fewer lines of code than might be used in languages such as C++ or Java.[23][24] The language provides constructs intended to enable writing clear programs on both a small and large scale.[25].</p>
        </div>
    </body>
</html>